* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.233);
}

#inicio {
  background-image: url(../assets/images/background.webp);
  background-size: cover;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25vh 10vh auto auto 20vh;
  grid-template-areas: "header" "nav" "descripcion" "imagen" "footer";
}
#inicio #desde {
  grid-area: descripcion;
  padding: 45px 15px 0px 15px;
  text-align: center;
  background-color: rgba(26, 26, 26, 0.5254901961);
}
#inicio #desde .descripcion {
  margin: 0%;
  color: rgb(162, 167, 94);
  font-style: italic;
  font-size: larger;
}
#inicio #imagenInicio {
  grid-area: imagen;
  background-color: rgba(26, 26, 26, 0.5254901961);
  display: flex;
  justify-content: center;
  align-items: center;
}
#inicio #imagenInicio .open {
  width: 50%;
}

#nosotros {
  background-image: url(../assets/images/background.webp);
  background-size: cover;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25vh 10vh auto auto 25vh;
  grid-template-areas: "header" "nav" "misvis" "equipo" "footer";
}
#nosotros #objetivos {
  grid-area: misvis;
  background-color: rgba(44, 43, 43, 0.6705882353);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 2% 0% 2%;
}
#nosotros #objetivos #mision {
  padding: 2%;
  border-top: 5px double #181313;
  border-bottom: 5px double #181313;
}
#nosotros #objetivos #mision .titulosInfo {
  margin: 0%;
  padding: 0%;
  font-size: 30px;
  padding-left: 2%;
  padding-right: 2%;
  color: rgb(197, 197, 5);
  text-align: center;
}
#nosotros #objetivos #mision .nosotrosInfo {
  margin: 0%;
  padding: 0%;
  font-size: 18px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  color: rgba(153, 153, 1, 0.904);
  text-align: center;
}
#nosotros #objetivos #vision {
  padding: 2%;
  border-bottom: 5px double #181313;
}
#nosotros #objetivos #vision .titulosInfo {
  margin: 0%;
  padding: 0%;
  font-size: 30px;
  padding-left: 2%;
  padding-right: 2%;
  color: rgb(197, 197, 5);
  text-align: center;
}
#nosotros #objetivos #vision .nosotrosInfo {
  margin: 0%;
  padding: 0%;
  font-size: 18px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  color: rgba(153, 153, 1, 0.904);
  text-align: center;
}
#nosotros #nuestro {
  padding: 2% 2% 5% 2%;
  grid-area: equipo;
  background-color: rgba(44, 43, 43, 0.6705882353);
}
#nosotros #nuestro #presentacion {
  border-bottom: 5px double #181313;
  padding-bottom: 2%;
}
#nosotros #nuestro #presentacion .titulosInfo {
  margin: 0%;
  padding: 0%;
  font-size: 30px;
  padding-left: 2%;
  padding-right: 2%;
  color: rgb(197, 197, 5);
  text-align: center;
}
#nosotros #nuestro #presentacion .nosotrosInfo {
  margin: 0%;
  padding: 0%;
  font-size: 18px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  color: rgba(153, 153, 1, 0.904);
  text-align: center;
}

#sucursales {
  background-image: url(../assets/images/Sucursalesbackground.webp);
  background-size: cover;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25vh 10vh 10vh auto auto 20vh;
  grid-template-areas: "header" "nav" "encontranos" "primer" "tercera" "footer";
}
#sucursales #encontranos {
  background-color: rgba(3, 1, 22, 0.7450980392);
  grid-area: encontranos;
}
#sucursales #encontranos #tituloSucursales {
  text-align: center;
  font-size: large;
  padding: 5% 5% 0% 5%;
  text-decoration: none;
  letter-spacing: 0.25em;
  align-items: center;
  color: rgba(170, 170, 31, 0.904);
}
#sucursales #primer {
  background-color: rgba(3, 1, 22, 0.7450980392);
  grid-area: primer;
}
#sucursales #primer .sucursales1 {
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-top: 2px solid white;
  border-bottom: 2px dashed rgb(172, 172, 4);
  margin: 2% 2% 0% 2%;
}
#sucursales #primer .sucursales1 p iframe {
  box-shadow: 0 0 25px rgb(119, 29, 29);
}
#sucursales #primer .sucursales1 ul {
  padding: 0%;
  margin: 0%;
  padding-left: 1rem;
}
#sucursales #primer .sucursales1 ul .localidades {
  padding-right: 1rem;
  margin: 0%;
  text-align: center;
  color: rgb(161, 127, 64);
  text-shadow: 0 0 40px rgb(133, 120, 97);
  font-size: medium;
}
#sucursales #primer .sucursales1 ul .calles {
  text-align: center;
  padding-right: 1rem;
  text-decoration: double underline rgb(133, 120, 97);
  color: rgb(137, 150, 62);
  list-style-type: none;
  text-shadow: 0 0 1px black;
}
#sucursales #primer .sucursales1 ul .datos {
  list-style-type: none;
  text-align: center;
  padding-right: 1rem;
  color: rgb(137, 150, 62);
  text-shadow: 0 0 30px black;
}
#sucursales #tercera {
  background-color: rgba(3, 1, 22, 0.7450980392);
  grid-area: tercera;
}
#sucursales #tercera .sucursales2 {
  padding-bottom: 5%;
  padding-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0% 2% 2% 2%;
  border-bottom: 2px solid white;
  border-top: none;
}
#sucursales #tercera .sucursales2 p iframe {
  box-shadow: 0 0 25px rgb(119, 29, 29);
}
#sucursales #tercera .sucursales2 ul {
  padding: 0%;
  margin: 0%;
  padding-left: 1rem;
}
#sucursales #tercera .sucursales2 ul .localidades {
  padding-right: 1rem;
  margin: 0%;
  text-align: center;
  color: rgb(161, 127, 64);
  text-shadow: 0 0 40px rgb(133, 120, 97);
  font-size: medium;
}
#sucursales #tercera .sucursales2 ul .calles {
  text-align: center;
  padding-right: 1rem;
  text-decoration: double underline rgb(133, 120, 97);
  color: rgb(137, 150, 62);
  list-style-type: none;
  text-shadow: 0 0 30px black;
}
#sucursales #tercera .sucursales2 ul .datos {
  list-style-type: none;
  text-align: center;
  padding-right: 1rem;
  text-shadow: 0 0 30px black;
  color: rgb(137, 150, 62);
}

#contactos {
  background-image: url(../assets/images/contactosbackground.webp);
  background-size: cover;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25vh 10vh auto 20vh;
  grid-template-areas: "header" "nav" "informacion" "footer";
}
#contactos .contactosTasty {
  grid-area: informacion;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 45% 55%;
  grid-template-areas: "cuadros" "areas";
}
#contactos .contactosTasty #cuadros {
  grid-area: cuadros;
  margin: 6% 5% 2% 5%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: start;
}
#contactos .contactosTasty #cuadros input {
  border: 1px solid black;
  border-radius: 5px;
  color: rgb(216, 216, 216);
  background-color: rgb(34, 34, 34);
  width: 100%;
}
#contactos .contactosTasty #areas {
  grid-area: areas;
  margin: 2% 5% 6% 5%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
#contactos .contactosTasty #areas textarea {
  border-radius: 5px;
  color: rgb(216, 216, 216);
  border: 1px solid black;
  background-color: rgb(34, 34, 34);
}
#contactos .contactosTasty #areas #enviar {
  background-color: rgb(117, 117, 57);
}

#menu {
  background-image: url(../assets/images/contactosbackground.webp);
  background-size: contain;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25vh 10vh auto auto 20vh;
  grid-template-areas: "header" "nav" "titulo" "menu" "footer";
}
#menu .titulo {
  grid-area: titulo;
  text-align: center;
  font-size: xx-large;
  color: rgb(48, 2, 2);
  text-shadow: 0 0 20px rgb(43, 31, 14);
  padding-top: 5%;
  margin: 0%;
}
#menu .productos {
  grid-area: menu;
  margin: 0% 5% 5% 5%;
  animation-name: mobile;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
#menu .productos .carta .nombreMenu {
  text-align: center;
  font-size: 28px;
  margin: 10%;
  color: rgb(167, 153, 132);
  text-shadow: 0 0 40px rgb(167, 153, 132);
  animation-name: mobile;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
#menu .productos .carta .clasica {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0% 10% 10% 10%;
  animation-name: mobile;
  animation-duration: 5s;
  animation-iteration-count: 1;
}
#menu .productos .carta .clasica .comida1 {
  width: 120px;
}
#menu .productos .carta .clasica .nombre {
  font-size: larger;
  margin: 5% 0% 0% 0%;
  color: rgb(43, 31, 14);
  text-shadow: 0 0 20px rgb(43, 31, 14);
}
#menu .productos .carta .clasica .ingredientes {
  font-size: medium;
  margin: 0%;
  color: rgb(0, 0, 0);
  text-align: center;
  text-shadow: 0 0 3px rgb(51, 32, 2);
}
#menu .productos .carta .tasty {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0% 10% 10% 10%;
  animation-name: mobile;
  animation-duration: 5s;
  animation-iteration-count: 1;
}
#menu .productos .carta .tasty .comida1 {
  width: 120px;
}
#menu .productos .carta .tasty .comida2 {
  width: 80px;
}
#menu .productos .carta .tasty .nombre {
  font-size: larger;
  margin: 5% 0% 0% 0%;
  color: rgb(43, 31, 14);
  text-shadow: 0 0 20px rgb(43, 31, 14);
}
#menu .productos .carta .tasty .ingredientes {
  font-size: medium;
  margin: 0%;
  color: rgb(0, 0, 0);
  text-align: center;
  text-shadow: 0 0 3px rgb(51, 32, 2);
}
#menu .productos .carta .plato {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0% 10% 10% 10%;
  animation-name: mobile;
  animation-duration: 5s;
  animation-iteration-count: 1;
}
#menu .productos .carta .plato .comida3 {
  width: 140px;
}
#menu .productos .carta .plato .nombre {
  font-size: larger;
  margin: 5% 0% 0% 0%;
  color: rgb(43, 31, 14);
  text-shadow: 0 0 20px rgb(43, 31, 14);
}
#menu .productos .carta .plato .ingredientes {
  font-size: medium;
  margin: 0%;
  color: rgb(0, 0, 0);
  text-align: center;
  text-shadow: 0 0 3px rgb(51, 32, 2);
}

@media (min-width: 768px) {
  #inicio {
    background-color: #443c0c;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25vh 50vh 25vh;
    grid-template-areas: "header nav" "descripcion imagen" "footer footer";
  }
  #inicio #desde {
    padding: 0px 5% 0px 5%;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #nosotros {
    background-color: #443c0c;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 25vh 50vh 25vh;
    grid-template-areas: "header header nav" "misvis misvis equipo" "footer footer footer";
  }
  #nosotros #objetivos {
    padding: 0%;
    padding-top: 5%;
    padding-left: 5%;
    flex-direction: row;
    border-bottom: none;
    align-items: start;
    justify-content: center;
    border-top: 10px double #181313;
    border-bottom: 10px double #181313;
    border-left: 10px double #181313;
  }
  #nosotros #objetivos #mision {
    padding: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
  }
  #nosotros #objetivos #mision .titulosInfo {
    padding: 0%;
    text-align: center;
    font-size: 35px;
  }
  #nosotros #objetivos #mision .nosotrosInfo {
    padding: 0% 6% 0% 6%;
    font-size: 15px;
  }
  #nosotros #objetivos #vision {
    padding: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
  }
  #nosotros #objetivos #vision .titulosInfo {
    padding: 0%;
    text-align: center;
    font-size: 35px;
  }
  #nosotros #objetivos #vision .nosotrosInfo {
    padding: 0% 6% 0% 6%;
    font-size: 15px;
  }
  #nosotros #nuestro {
    padding: 0%;
    padding-top: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: start;
    border-top: 10px double #181313;
    border-bottom: 10px double #181313;
    border-right: 10px double #181313;
  }
  #nosotros #nuestro #presentacion {
    border: none;
  }
  #nosotros #nuestro #presentacion .titulosInfo {
    padding: 0%;
    text-align: center;
    font-size: 35px;
  }
  #nosotros #nuestro #presentacion #parrafoNuestroEquipo {
    padding: 0% 3% 0% 3%;
  }
  #nosotros #nuestro #presentacion .nosotrosInfo {
    padding: 0% 6% 0% 6%;
    font-size: 15px;
  }
  #sucursales {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25vh 15vh auto auto 20vh;
    grid-template-areas: "header nav" "encontranos encontranos" "primer primer" "tercera tercera" "footer footer";
  }
  #sucursales #encontranos #tituloSucursales {
    padding: 8% 0% 0% 0%;
    margin: 0%;
    font-size: x-large;
  }
  #sucursales #primer .sucursales1 {
    margin: 5% 5% 0% 5%;
    padding: 0%;
    flex-direction: column;
    border-bottom: 4px double rgb(172, 172, 4);
  }
  #sucursales #primer .sucursales1 .mapas1 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 2% 5% 2% 5%;
  }
  #sucursales #primer .sucursales1 .mapas1 p iframe {
    height: 120px;
    width: 250px;
  }
  #sucursales #primer .sucursales1 .mapas1 ul {
    margin: 5%;
  }
  #sucursales #primer .sucursales1 .mapas1 ul .calles {
    list-style-type: none;
  }
  #sucursales #primer .sucursales1 .mapas2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: center;
    margin: 0% 5% 2% 5%;
    border-top: 4px dashed rgb(187, 187, 187);
  }
  #sucursales #primer .sucursales1 .mapas2 p iframe {
    height: 120px;
    width: 250px;
  }
  #sucursales #primer .sucursales1 .mapas2 ul {
    margin: 5%;
  }
  #sucursales #primer .sucursales1 .mapas2 ul .calles {
    list-style-type: none;
  }
  #sucursales #tercera .sucursales2 {
    margin: 0% 5% 5% 5%;
    padding: 0%;
    flex-direction: column;
  }
  #sucursales #tercera .sucursales2 .mapas3 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 2% 5% 5% 5%;
  }
  #sucursales #tercera .sucursales2 .mapas3 p iframe {
    height: 120px;
    width: 250px;
  }
  #sucursales #tercera .sucursales2 .mapas3 ul {
    margin: 5%;
  }
  #sucursales #tercera .sucursales2 .mapas3 ul .calles {
    list-style-type: none;
  }
  #sucursales #tercera .sucursales2 .mapas4 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: center;
    margin: 0% 5% 2% 5%;
    border-top: 4px dashed rgb(187, 187, 187);
  }
  #sucursales #tercera .sucursales2 .mapas4 p iframe {
    height: 120px;
    width: 250px;
  }
  #sucursales #tercera .sucursales2 .mapas4 ul {
    margin: 5%;
  }
  #sucursales #tercera .sucursales2 .mapas4 ul .calles {
    list-style-type: none;
  }
  #contactos {
    background-color: #443c0c;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25vh 55vh 20vh;
    grid-template-areas: "header nav" "informacion informacion" "footer footer";
  }
  #contactos .contactosTasty {
    grid-area: informacion;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    grid-template-areas: "cuadros areas";
  }
  #contactos .contactosTasty #cuadros {
    margin: 0% 5% 0% 5%;
    align-items: center;
    justify-content: center;
  }
  #contactos .contactosTasty #cuadros input {
    width: 80%;
  }
  #contactos .contactosTasty #areas {
    margin: 0% 5% 0% 5%;
    justify-content: center;
  }
  #menu {
    background-color: #443c0c;
    background-size: contain;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25vh auto auto 20vh;
    grid-template-areas: "header nav" "titulo titulo" "menu menu" "footer footer";
  }
  #menu .carta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #menu .carta .nombreMenu {
    font-size: 32px;
    margin: 10% 10% 2% 10%;
  }
  #menu .carta .clasica {
    padding: 0%;
    height: 215px;
  }
  #menu .carta .clasica .comida1 {
    width: 150px;
  }
  #menu .carta .clasica .nombre {
    font-size: 25px;
    margin: 0%;
  }
  #menu .carta .clasica .ingredientes {
    font-size: 16px;
    margin: 0% 5% 0% 5%;
  }
  #menu .carta .tasty {
    padding: 0%;
  }
  #menu .carta .tasty .comida1 {
    width: 150px;
  }
  #menu .carta .tasty .comida2 {
    width: 100px;
  }
  #menu .carta .tasty .nombre {
    font-size: 25px;
    margin: 0%;
  }
  #menu .carta .tasty .ingredientes {
    font-size: 16px;
    margin: 0% 5% 0% 5%;
  }
  #menu .carta .plato {
    padding: 0%;
  }
  #menu .carta .plato .comida3 {
    width: 190px;
  }
  #menu .carta .plato .nombre {
    font-size: 25px;
    margin: 0%;
  }
  #menu .carta .plato .ingredientes {
    font-size: 16px;
    margin: 0% 5% 0% 5%;
  }
}
@media (min-width: 992px) {
  #menu {
    background-image: url(../assets/images/menu.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(39, 3, 3);
  }
  #menu .titulo {
    background-color: rgba(24, 19, 19, 0.6117647059);
    color: rgba(201, 195, 195, 0.884);
  }
  #menu .productos {
    background-color: rgba(24, 19, 19, 0.6117647059);
    background-size: cover;
    background-position: center;
    margin: 0%;
    padding: 0% 5% 5% 5%;
  }
  #menu .productos .carta .nombreMenu {
    font-size: 32px;
    margin: 10% 10% 5% 10%;
    text-shadow: none;
  }
  #menu .productos .carta .clasica {
    height: auto;
    width: auto;
    transition: 1s;
  }
  #menu .productos .carta .clasica:hover {
    transform: scale(1.3);
  }
  #menu .productos .carta .clasica .comida1 {
    width: 100px;
    filter: contrast(150%);
    transition: 1s;
  }
  #menu .productos .carta .clasica .comida1:hover {
    filter: contrast(100%);
  }
  #menu .productos .carta .clasica .nombre {
    font-size: 20px;
    color: rgba(201, 195, 195, 0.836);
  }
  #menu .productos .carta .clasica .ingredientes {
    font-size: 12px;
    margin: 0% 5% 0% 5%;
    color: rgba(255, 235, 205, 0.726);
  }
  #menu .productos .carta .tasty {
    padding: 0%;
    transition: 1s;
  }
  #menu .productos .carta .tasty:hover {
    transform: scale(1.3);
  }
  #menu .productos .carta .tasty .comida1 {
    width: 100px;
    filter: contrast(150%);
    transition: 1s;
  }
  #menu .productos .carta .tasty .comida1:hover {
    filter: contrast(100%);
  }
  #menu .productos .carta .tasty .comida2 {
    width: 30%;
    filter: contrast(150%);
    transition: 1s;
  }
  #menu .productos .carta .tasty .comida2:hover {
    filter: contrast(100%);
  }
  #menu .productos .carta .tasty .nombre {
    font-size: 20px;
    color: rgba(201, 195, 195, 0.836);
  }
  #menu .productos .carta .tasty .ingredientes {
    font-size: 12px;
    margin: 0% 5% 0% 5%;
    color: rgba(255, 235, 205, 0.726);
  }
  #menu .productos .carta .plato {
    padding: 0%;
    transition: 1s;
  }
  #menu .productos .carta .plato:hover {
    transform: scale(1.3);
  }
  #menu .productos .carta .plato .comida3 {
    width: 100px;
    filter: contrast(150%);
    transition: 1s;
  }
  #menu .productos .carta .plato .comida3:hover {
    filter: contrast(100%);
  }
  #menu .productos .carta .plato .nombre {
    font-size: 20px;
    color: rgba(201, 195, 195, 0.836);
  }
  #menu .productos .carta .plato .ingredientes {
    font-size: 12px;
    margin: 0% 5% 0% 5%;
    color: rgba(255, 235, 205, 0.726);
  }
}
@media (min-width: 1024px) {
  #inicio {
    grid-template-rows: 25vh 55vh 20vh;
  }
  #inicio #desde {
    font-size: 25px;
  }
  #inicio #imagenInicio .open {
    width: 40%;
  }
  #nosotros {
    grid-template-rows: 25vh 55vh 20vh;
  }
  #nosotros #objetivos {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  #nosotros #objetivos .titulosInfo {
    text-decoration: 3px solid underline rgba(153, 153, 1, 0.904);
  }
  #nosotros #objetivos .nosotrosInfo {
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 18px;
  }
  #nosotros #nuestro {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  #nosotros #nuestro #presentacion {
    padding-bottom: 0%;
  }
  #nosotros #nuestro #presentacion .titulosInfo {
    text-decoration: 3px solid underline rgba(153, 153, 1, 0.904);
  }
  #nosotros #nuestro #presentacion .nosotrosInfo {
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 18px;
  }
  #sucursales {
    background-position: 50% 60%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25vh 15vh auto auto 20vh;
    grid-template-areas: "header nav" "encontranos encontranos" "primer primer" "tercera tercera" "footer footer";
  }
  #sucursales #encontranos #tituloSucursales {
    padding-top: 4%;
    font-size: 38px;
  }
  #sucursales #primer {
    margin: 0%;
    padding: 0%;
    padding-top: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #sucursales #primer .sucursales1 {
    display: flex;
    flex-direction: row;
    padding: 0%;
    border: none;
    margin-top: 2%;
  }
  #sucursales #primer .sucursales1 .mapas1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0.25%;
    border-right: 4px dashed rgb(187, 187, 187);
  }
  #sucursales #primer .sucursales1 .mapas1 ul .localidades {
    font-size: 20px;
  }
  #sucursales #primer .sucursales1 .mapas1 ul .calles {
    font-size: 16px;
  }
  #sucursales #primer .sucursales1 .mapas1 ul .datos {
    font-size: 16px;
  }
  #sucursales #primer .sucursales1 .mapas2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    border-top: none;
    align-items: center;
    width: 50%;
    margin: 0.25%;
    border-left: 4px solid rgb(172, 172, 4);
  }
  #sucursales #primer .sucursales1 .mapas2 ul .localidades {
    font-size: 20px;
  }
  #sucursales #primer .sucursales1 .mapas2 ul .calles {
    font-size: 16px;
  }
  #sucursales #primer .sucursales1 .mapas2 ul .datos {
    font-size: 16px;
  }
  #sucursales #tercera {
    grid-area: tercera;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #sucursales #tercera .sucursales2 {
    display: flex;
    flex-direction: row;
    padding: 0%;
    border: none;
  }
  #sucursales #tercera .sucursales2 .mapas3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0.25%;
    border-right: 4px solid rgb(172, 172, 4);
  }
  #sucursales #tercera .sucursales2 .mapas3 ul .localidades {
    font-size: 20px;
  }
  #sucursales #tercera .sucursales2 .mapas3 ul .calles {
    font-size: 16px;
  }
  #sucursales #tercera .sucursales2 .mapas3 ul .datos {
    font-size: 16px;
  }
  #sucursales #tercera .sucursales2 .mapas4 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0.25%;
    border-top: none;
    border-left: 4px dashed rgb(187, 187, 187);
  }
  #sucursales #tercera .sucursales2 .mapas4 ul .localidades {
    font-size: 20px;
  }
  #sucursales #tercera .sucursales2 .mapas4 ul .calles {
    font-size: 16px;
  }
  #sucursales #tercera .sucursales2 .mapas4 ul .datos {
    font-size: 16px;
  }
}
.header {
  background-color: #1a1a1a;
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header h1 {
  text-align: center;
  margin: 0%;
  color: rgb(197, 197, 5);
  font-size: 3em;
  font-weight: 50px;
  text-shadow: 0 0 50px rgb(196, 176, 143);
}
.header h2 {
  text-align: center;
  font-size: small;
  margin: 0%;
  color: rgba(170, 170, 31, 0.904);
  text-decoration: overline;
  font-style: italic;
  font-weight: 25px;
}
.header a {
  text-decoration: none;
}

.navbar {
  background-color: rgba(26, 26, 26, 0.8549019608);
  grid-area: nav;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  grid-template-areas: "nav1 nav2";
  justify-content: center;
  align-items: center;
}
.navbar nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.navbar a {
  text-decoration: none;
  color: rgba(216, 216, 143, 0.904);
}
.navbar a:hover {
  text-shadow: 0px 0px 30px rgba(158, 156, 153, 0.774);
}
.navbar a:focus {
  color: rgb(165, 160, 160);
  text-shadow: 0px 0px 10px rgba(158, 156, 153, 0.774);
}
.navbar a:active {
  text-shadow: none;
  color: rgb(119, 39, 39);
}
.navbar #nav1 {
  grid-area: nav1;
  text-align: center;
}
.navbar #nav2 {
  grid-area: nav2;
  text-align: center;
}

@media (min-width: 768px) {
  .header {
    grid-area: header;
    background-color: rgba(26, 26, 26, 0.8549019608);
  }
  .header h1 {
    font-size: 60px;
  }
  .header h2 {
    font-size: 15px;
  }
  .navbar {
    align-items: end;
  }
}
@media (min-width: 1024px) {
  .header h1 {
    font-size: 65px;
    text-decoration: underline rgba(170, 170, 31, 0.904);
    text-decoration-thickness: 2px;
  }
  .header h2 {
    font-size: 20px;
    text-align: end;
    padding-right: 5%;
    text-decoration: none;
  }
  .navbar a {
    font-size: 25px;
  }
}
footer {
  grid-area: footer;
  background-color: rgba(26, 26, 26, 0.8549019608);
}
footer #email h3 {
  font-family: "Courier New", Courier, monospace;
  color: wheat;
  font-size: 16px;
  padding: 0%;
  margin: 0%;
  text-shadow: 0 0 20px rgb(196, 176, 143);
  text-align: left;
}
@media (min-width: 1024px) {
  footer #email h3 {
    font-size: 18px;
  }
}
footer #email h3 span {
  font-family: "Courier New", Courier, monospace;
  color: wheat;
  font-size: 16px;
  padding: 0%;
  margin: 0%;
  text-shadow: 0 0 20px rgb(196, 176, 143);
}
@media (min-width: 1024px) {
  footer #email h3 span {
    font-size: 18px;
  }
}
footer #redes h3 {
  font-family: "Courier New", Courier, monospace;
  color: wheat;
  font-size: 16px;
  padding: 0%;
  margin: 0%;
  text-shadow: 0 0 20px rgb(196, 176, 143);
  text-align: center;
}
@media (min-width: 1024px) {
  footer #redes h3 {
    font-size: 18px;
  }
}
footer #redes h3 #facebook {
  width: 40px;
  height: 40px;
}
footer #redes h3 #instagram {
  width: 35px;
  height: 35px;
}

@media (min-width: 1024px) {
  #email h3 {
    font-size: 20px;
  }
  #email h3 span {
    font-size: 18px;
  }
  #redes h3 {
    font-size: 18px;
  }
}
@keyframes mobile {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
