* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.233);
}

#inicio {

    background-image: url(../assets/images/background.webp);
    background-size: cover;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25vh 10vh auto auto 20vh;
    grid-template-areas:
        "header"
        "nav"
        "descripcion"
        "imagen"
        "footer";

    #desde {
        grid-area: descripcion;
        padding: 45px 15px 0px 15px;
        text-align: center;
        background-color: #1a1a1a86;

        .descripcion {
            margin: 0%;
            color: rgb(162, 167, 94);
            font-style: italic;
            font-size: larger;
        }
    }

    #imagenInicio {
        grid-area: imagen;
        background-color: #1a1a1a86;
        @include flex-center-center;

        .open {
            width: 50%;
        }
    }
}

#nosotros {

    background-image: url(../assets/images/background.webp);
    background-size: cover;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25vh 10vh auto auto 25vh;
    grid-template-areas:
        "header"
        "nav"
        "misvis"
        "equipo"
        "footer";

    #objetivos {
        grid-area: misvis;
        background-color: #2c2b2bab;
        @include flex-column-center;
        align-items: center;
        padding: 5% 2% 0% 2%;

        #mision {
            padding: 2%;
            border-top: 5px double #181313;
            border-bottom: 5px double #181313;

            .titulosInfo {
                margin: 0%;
                padding: 0%;
                font-size: 30px;
                padding-left: 2%;
                padding-right: 2%;
                color: rgb(197, 197, 5);
                text-align: center;
            }

            .nosotrosInfo {
                margin: 0%;
                padding: 0%;
                font-size: 18px;
                padding-left: 5%;
                padding-right: 5%;
                padding-top: 2%;
                color: rgba(153, 153, 1, 0.904);
                text-align: center;
            }
        }

        #vision {
            padding: 2%;
            border-bottom: 5px double #181313;

            .titulosInfo {
                margin: 0%;
                padding: 0%;
                font-size: 30px;
                padding-left: 2%;
                padding-right: 2%;
                color: rgb(197, 197, 5);
                text-align: center;
            }

            .nosotrosInfo {
                margin: 0%;
                padding: 0%;
                font-size: 18px;
                padding-left: 5%;
                padding-right: 5%;
                padding-top: 2%;
                color: rgba(153, 153, 1, 0.904);
                text-align: center;
            }
        }

    }

    #nuestro {
        padding: 2% 2% 5% 2%;
        grid-area: equipo;
        background-color: #2c2b2bab;

        #presentacion {

            border-bottom: 5px double #181313;
            padding-bottom: 2%;

            .titulosInfo {
                margin: 0%;
                padding: 0%;
                font-size: 30px;
                padding-left: 2%;
                padding-right: 2%;
                color: rgb(197, 197, 5);
                text-align: center;
            }

            .nosotrosInfo {
                margin: 0%;
                padding: 0%;
                font-size: 18px;
                padding-left: 5%;
                padding-right: 5%;
                padding-top: 2%;
                color: rgba(153, 153, 1, 0.904);
                text-align: center;
            }
        }
    }
}

#sucursales {
    background-image: radial-gradient(circle at 100%, #333, #333 50%, #353434 75%, #353434 75%);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25vh 10vh 10vh auto auto 20vh;
    grid-template-areas:
        "header"
        "nav"
        "encontranos"
        "primer"
        "tercera"
        "footer";

    #encontranos {

        grid-area: encontranos;

        #tituloSucursales {
            text-align: center;
            font-size: large;
            padding: 5% 5% 0% 5%;
            text-decoration: none;
            letter-spacing: 0.25em;
            align-items: center;
            color: $textMustardColor;
        }

    }

    #primer {
        grid-area: primer;

        .sucursales1 {
            padding-top: 5%;
            padding-bottom: 5%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            border-top: 2px solid white;
            border-bottom: 2px dashed rgb(172, 172, 4);
            margin: 2% 2% 0% 2%;

            p {

                iframe {
                    box-shadow: 0 0 25px rgb(119, 29, 29);
                }

            }

            ul {
                padding: 0%;
                margin: 0%;
                padding-left: 1rem;

                .localidades {
                    padding-right: 1rem;
                    margin: 0%;
                    text-align: center;
                    color: rgb(161, 127, 64);
                    text-shadow: 0 0 40px rgb(133, 120, 97);
                    font-size: medium;
                }

                .calles {
                    text-align: center;
                    padding-right: 1rem;
                    text-decoration: double underline rgb(133, 120, 97);
                    color: rgb(133, 120, 97);
                    list-style-type: none;
                }

                .datos {
                    list-style-type: none;
                    text-align: center;
                    padding-right: 1rem;

                    color: rgb(133, 120, 97);
                }

            }
        }
    }

    #tercera {
        grid-area: tercera;

        .sucursales2 {
            padding-bottom: 5%;
            padding-top: 5%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin: 0% 2% 2% 2%;
            border-bottom: 2px solid white;
            border-top: none;

            p {

                iframe {
                    box-shadow: 0 0 25px rgb(119, 29, 29);
                }

            }

            ul {
                padding: 0%;
                margin: 0%;
                padding-left: 1rem;

                .localidades {
                    padding-right: 1rem;
                    margin: 0%;
                    text-align: center;
                    color: rgb(161, 127, 64);
                    text-shadow: 0 0 40px rgb(133, 120, 97);
                    font-size: medium;
                }

                .calles {
                    text-align: center;
                    padding-right: 1rem;
                    text-decoration: double underline rgb(133, 120, 97);
                    color: rgb(133, 120, 97);
                    list-style-type: none;
                }

                .datos {
                    list-style-type: none;
                    text-align: center;
                    padding-right: 1rem;

                    color: rgb(133, 120, 97);
                }
            }
        }
    }

}


#contactos {

    background-image: url(../assets/images/contactosbackground.webp);
    background-size: cover;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25vh 10vh auto 20vh;
    grid-template-areas:
        "header"
        "nav"
        "informacion"
        "footer";

    .contactosTasty {
        grid-area: informacion;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 45% 55%;
        grid-template-areas:
            "cuadros"
            "areas";

        #cuadros {
            grid-area: cuadros;
            margin: 6% 5% 2% 5%;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: start;

            input {
                border: 1px solid black;
                border-radius: 5px;
                color: black;
                background-color: rgb(34, 34, 34);
            }
        }

        #areas {
            grid-area: areas;
            margin: 2% 5% 6% 5%;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: left;

            textarea {
                border-radius: 5px;
                border: 1px solid black;
                background-color: rgb(34, 34, 34);
            }

            #enviar {
                background-color: rgb(117, 117, 57);
            }

        }
    }
}

#menu {

    background-image: url(../assets/images/contactosbackground.webp);
    background-size: contain;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25vh 10vh auto auto 20vh;
    grid-template-areas:
        "header"
        "nav"
        "titulo"
        "menu"
        "footer";

    .titulo {
        grid-area: titulo;
        text-align: center;
        font-size: xx-large;
        color: rgb(48, 2, 2);
        padding-top: 5%;
        margin: 0%;
    }

    .productos {
        grid-area: menu;
        margin: 0% 5% 5% 5%;
        animation-name: mobile;
        animation-duration: 1s;
        animation-iteration-count: 1;

        .carta {

            .nombreMenu {
                text-align: center;
                font-size: 28px;
                margin: 10%;
                color: rgb(167, 153, 132);
                animation-name: mobile;
                animation-duration: 3s;
                animation-iteration-count: 1;
            }

            .clasica {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                padding: 0% 10% 10% 10%;
                animation-name: mobile;
                animation-duration: 5s;
                animation-iteration-count: 1;


                .nombre {
                    font-size: larger;
                    margin: 5% 0% 0% 0%;
                    color: rgb(43, 31, 14);
                }

                .ingredientes {
                    font-size: medium;
                    margin: 0%;
                    color: rgb(0, 0, 0);
                    text-align: center;
                }
            }

            .tasty {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                padding: 0% 10% 10% 10%;
                animation-name: mobile;
                animation-duration: 5s;
                animation-iteration-count: 1;


                .nombre {
                    font-size: larger;
                    margin: 5% 0% 0% 0%;
                    color: rgb(43, 31, 14);
                }

                .ingredientes {
                    font-size: medium;
                    margin: 0%;
                    color: rgb(0, 0, 0);
                    text-align: center;
                }

            }

            .plato {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                padding: 0% 10% 10% 10%;
                animation-name: mobile;
                animation-duration: 5s;
                animation-iteration-count: 1;

                .nombre {
                    font-size: larger;
                    margin: 5% 0% 0% 0%;
                    color: rgb(43, 31, 14);
                }

                .ingredientes {
                    font-size: medium;
                    margin: 0%;
                    color: rgb(0, 0, 0);
                    text-align: center;
                }
            }
        }
    }
}


.comida1 {
    width: 120px;
}

.comida2 {
    width: 80px;
}

.comida3 {
    width: 140px;
}

@media (min-width: 768px) {
    #inicio {

        background-color: #443c0c;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25vh 50vh 25vh;
        grid-template-areas:
            "header nav"
            "descripcion imagen"
            "footer footer";

        #desde {
            padding: 0px 5% 0px 5%;
            display: flex;
            @include flex-center-center;
        }

    }


    #nosotros {

        background-color: #443c0c;
        grid-template-columns: 1fr 1fr 2fr;
        grid-template-rows: 25vh 50vh 25vh;
        grid-template-areas:
            "header header nav"
            "misvis misvis equipo"
            "footer footer footer";

        #objetivos {
            padding: 0%;
            padding-top: 5%;
            padding-left: 5%;
            flex-direction: row;
            border-bottom: none;
            align-items: start;
            justify-content: center;
            border-top: 10px double #181313;
            border-bottom: 10px double #181313;
            border-left: 10px double #181313;

            #mision {
                padding: 0%;
                display: flex;
                flex-direction: column;
                align-items: center;
                border: none;

                .titulosInfo {
                    padding: 0%;
                    text-align: center;
                    font-size: 35px;
                }

                .nosotrosInfo {

                    padding: 0% 6% 0% 6%;
                    font-size: 15px;

                }
            }

            #vision {
                padding: 0%;
                display: flex;
                flex-direction: column;
                align-items: center;
                border: none;

                .titulosInfo {
                    padding: 0%;
                    text-align: center;
                    font-size: 35px;
                }

                .nosotrosInfo {

                    padding: 0% 6% 0% 6%;
                    font-size: 15px;

                }
            }
        }

        #nuestro {
            padding: 0%;
            padding-top: 5%;
            padding-right: 5%;
            @include flex-column-start;
            border-top: 10px double #181313;
            border-bottom: 10px double #181313;
            border-right: 10px double #181313;


            #presentacion {
                border: none;

                .titulosInfo {
                    padding: 0%;
                    text-align: center;
                    font-size: 35px;
                }

                #parrafoNuestroEquipo {
                    padding: 0% 3% 0% 3%;
                }

                .nosotrosInfo {

                    padding: 0% 6% 0% 6%;
                    font-size: 15px;

                }
            }
        }
    }

    #sucursales {

        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25vh 15vh auto auto 20vh;
        grid-template-areas:
            "header nav"
            "encontranos encontranos"
            "primer primer"
            "tercera tercera"
            "footer footer";

        #encontranos {
            #tituloSucursales {
                padding: 5% 0% 0% 0%;
                margin: 0%;
                font-size: x-large;
            }
        }

        #primer {
            .sucursales1 {
                margin: 5% 5% 0% 5%;
                padding: 0%;
                flex-direction: column;
                border-bottom: 4px double rgb(172, 172, 4);

                .mapas1 {
                    @include flex-row-start;
                    align-items: center;
                    margin: 2% 5% 2% 5%;

                    p {

                        iframe {
                            height: 120px;
                            width: 250px;
                        }

                    }

                    ul {
                        margin: 5%;

                        .calles {

                            list-style-type: none;
                        }
                    }
                }

                .mapas2 {
                    @include flex-row-reverse-end;
                    align-items: center;
                    margin: 0% 5% 2% 5%;
                    border-top: 4px dashed rgb(187, 187, 187);

                    p {

                        iframe {
                            height: 120px;
                            width: 250px;
                        }

                    }

                    ul {
                        margin: 5%;

                        .calles {

                            list-style-type: none;
                        }
                    }

                }
            }
        }

        #tercera {
            .sucursales2 {
                margin: 0% 5% 5% 5%;
                padding: 0%;
                flex-direction: column;

                .mapas3 {
                    @include flex-row-start;
                    align-items: center;
                    margin: 2% 5% 5% 5%;

                    p {

                        iframe {
                            height: 120px;
                            width: 250px;
                        }

                    }

                    ul {
                        margin: 5%;

                        .calles {

                            list-style-type: none;
                        }
                    }
                }

                .mapas4 {
                    @include flex-row-reverse-end;
                    align-items: center;
                    margin: 0% 5% 2% 5%;
                    border-top: 4px dashed rgb(187, 187, 187);

                    p {

                        iframe {
                            height: 120px;
                            width: 250px;
                        }

                    }

                    ul {
                        margin: 5%;

                        .calles {

                            list-style-type: none;
                        }
                    }
                }
            }
        }
    }

    #contactos {

        background-color: #443c0c;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25vh 55vh 20vh;
        grid-template-areas:
            "header nav"
            "informacion informacion"
            "footer footer";

        .contactosTasty {
            grid-area: informacion;
            grid-template-columns: 40% 60%;
            grid-template-rows: auto;
            grid-template-areas: "cuadros areas";

            #cuadros {
                margin: 0% 5% 0% 5%;
                align-items: center;
                justify-content: center;
            }

            #areas {
                margin: 0% 5% 0% 5%;
                justify-content: center;
            }

        }

    }

    #menu {
        background-color: #443c0c;
        background-size: contain;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25vh auto auto 20vh;
        grid-template-areas:
            "header nav"
            "titulo titulo"
            "menu menu"
            "footer footer";

        .carta {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;

            .nombreMenu {
                font-size: 32px;
                margin: 10% 10% 2% 10%;
            }

            .clasica {
                padding: 0%;
                height: 215px;

                .comida1 {
                    width: 150px;
                }


                .nombre {
                    font-size: 25px;
                    margin: 0%;
                }

                .ingredientes {
                    font-size: 16px;
                    margin: 0% 5% 0% 5%;
                }
            }

            .tasty {

                padding: 0%;


                .comida1 {
                    width: 150px;
                }

                .comida2 {
                    width: 100px;
                }

                .nombre {
                    font-size: 25px;
                    margin: 0%;
                }

                .ingredientes {
                    font-size: 16px;
                    margin: 0% 5% 0% 5%;
                }
            }

            .plato {

                padding: 0%;

                .comida3 {
                    width: 190px;
                }

                .nombre {
                    font-size: 25px;
                    margin: 0%;
                }

                .ingredientes {
                    font-size: 16px;
                    margin: 0% 5% 0% 5%;
                }
            }
        }
    }
}

@media (min-width: 992px) {

    #menu {
        background-image: url(../assets/images/menu.webp);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: rgb(39, 3, 3);

        .titulo {
            background-color: #1813136e;
            color: rgba(201, 195, 195, 0.884)
        }

        .productos {
            background-color: #1813136e;
            background-size: cover;
            background-position: center;
            margin: 0%;
            padding: 0% 5% 5% 5%;

            .carta {

                .nombreMenu {
                    font-size: 32px;
                    margin: 10% 10% 5% 10%;
                }


                .clasica {
                    height: auto;
                    width: auto;
                    transition: 1s;

                    &:hover {
                        transform: scale(1.3);
                    }

                    .comida1 {
                        width: 100px;
                        filter: contrast(150%);
                        transition: 1s;

                        &:hover {
                            filter: contrast(100%);
                        }
                    }

                    .nombre {
                        font-size: 20px;
                        color: rgba(201, 195, 195, 0.836)
                    }

                    .ingredientes {
                        font-size: 12px;
                        margin: 0% 5% 0% 5%;
                        color: rgba(255, 235, 205, 0.726);
                    }
                }

                .tasty {

                    padding: 0%;
                    transition: 1s;

                    &:hover {
                        transform: scale(1.3);
                    }

                    .comida1 {
                        width: 100px;
                        filter: contrast(150%);
                        transition: 1s;

                        &:hover {
                            filter: contrast(100%);
                        }
                    }

                    .comida2 {
                        width: 30%;
                        filter: contrast(150%);
                        transition: 1s;

                        &:hover {

                            filter: contrast(100%);
                        }
                    }

                    .nombre {
                        font-size: 20px;
                        color: rgba(201, 195, 195, 0.836)
                    }

                    .ingredientes {
                        font-size: 12px;
                        margin: 0% 5% 0% 5%;
                        color: rgba(255, 235, 205, 0.726);
                    }
                }

                .plato {
                    padding: 0%;

                    transition: 1s;

                    &:hover {
                        transform: scale(1.3);
                    }

                    .comida3 {
                        width: 100px;
                        filter: contrast(150%);
                        transition: 1s;

                        &:hover {
                            filter: contrast(100%);
                        }

                    }

                    .nombre {
                        font-size: 20px;
                        color: rgba(201, 195, 195, 0.836)
                    }

                    .ingredientes {
                        font-size: 12px;
                        margin: 0% 5% 0% 5%;
                        color: rgba(255, 235, 205, 0.726);
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) {

    #inicio {

        grid-template-rows: 25vh 55vh 20vh;

        #desde {

            font-size: 25px;
        }

        #imagenInicio {
            .open {
                width: 40%;
            }
        }
    }

    #nosotros {
        grid-template-rows: 25vh 55vh 20vh;

        #objetivos {
            @include pt5-pb5;

            .titulosInfo {
                text-decoration: 3px solid underline rgba(153, 153, 1, 0.904);
            }

            .nosotrosInfo {
                @include pt5-pb5;
                font-size: 18px;
            }
        }

        #nuestro {
            @include pt5-pb5;

            #presentacion {
                padding-bottom: 0%;

                .titulosInfo {
                    text-decoration: 3px solid underline rgba(153, 153, 1, 0.904);
                }

                .nosotrosInfo {
                    @include pt5-pb5;
                    font-size: 18px;
                }
            }
        }
    }

    #sucursales {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25vh 15vh auto auto 20vh;
        grid-template-areas:
            "header nav"
            "encontranos encontranos"
            "primer primer"
            "tercera tercera"
            "footer footer";

        #encontranos {

            #tituloSucursales {
                padding-top: 4%;
                font-size: 38px;
            }
        }

        #primer {
            margin: 0%;
            padding: 0%;
            padding-top: 4%;
            @include flex-column-center;

            .sucursales1 {
                @include sucursales-1024px;
                margin-top: 2%;

                .mapas1 {
                    @include flex-row-center;
                    @include mapas;
                    border-right: 4px dashed rgb(187, 187, 187);

                    ul {
                        .localidades {
                            font-size: 20px;
                        }

                        .calles {
                            font-size: 16px;
                        }

                        .datos {
                            font-size: 16px;
                        }
                    }
                }

                .mapas2 {
                    @include flex-row-reverse-center;
                    border-top: none;
                    @include mapas;
                    border-left: 4px solid rgb(172, 172, 4);

                    ul {
                        .localidades {
                            font-size: 20px;
                        }

                        .calles {
                            font-size: 16px;
                        }

                        .datos {
                            font-size: 16px;
                        }
                    }
                }

            }
        }

        #tercera {
            grid-area: tercera;
            @include flex-column-center;

            .sucursales2 {
                @include sucursales-1024px;

                .mapas3 {
                    @include flex-row-center;
                    @include mapas;
                    border-right: 4px solid rgb(172, 172, 4);

                    ul {
                        .localidades {
                            font-size: 20px;
                        }

                        .calles {
                            font-size: 16px;
                        }

                        .datos {
                            font-size: 16px;
                        }
                    }
                }

                .mapas4 {
                    @include flex-row-reverse-center;
                    @include mapas;
                    border-top: none;
                    border-left: 4px dashed rgb(187, 187, 187);

                    ul {
                        .localidades {
                            font-size: 20px;
                        }

                        .calles {
                            font-size: 16px;
                        }

                        .datos {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}